/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
body{
    margin: 0;
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 3rem;
    color: #fff;
}
h3{
    color: #E43480;
    font-weight: 300;
    font-size: 2rem;
}
.navbar{
    background-color: #000;
    border-bottom: 2px solid #000;
    
}
.navbar a{
    color: #F9F1F0;
    text-transform: uppercase;
    padding: 10px 50px;
    padding-left: 3rem;
}
.navbar a:hover{
    border-bottom: 2px solid #E43480;
    background-color: #E43480;
    color: #000;
}
.navbar-brand{
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase !important;
    font-size: 3rem;
}
.navbar-brand span{
    color: #E43480;
}
.navbar-brand span:hover{
    color: #fff;
}
.navbar-toggler, .navbar-toggler-icon{
    color: #F9F1F0 !important;
}
/* Buttons */
.btn-primary{
    background-color: #E43480 !important;
    border: none;
    padding: 10px 20px !important;
    border-radius: 0px !important;
}
.btn-outline-primary{
    color: #E43480;
    border: #E43480 !important;
}

/* Carousel */

.carousel-caption{
    text-align: left !important;
    /* bottom: 14rem !important; */
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #E43480;
    padding: 10px;
}

/* Cards */
.card{
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    box-shadow: #E43480;
    position: relative;
    bottom: 40px;
    box-shadow: rgba(99, 9, 64, 0.25) 0px 14px 28px, rgba(62, 59, 59, 0.22) 0px 10px 10px;

    /* box-shadow: rgba(121, 62, 121, 0.25) 0px 13px 27px -5px, rgba(192, 60, 161, 0.3) 0px 8px 16px -8px;} */
}
hr{
    width: 50px;
    color: #E43480 !important;
    opacity: 1.2;
}
.model-img{
    height: 80px;
    text-align: center !important;
    border: 2px solid #E43480;
    padding: 12px;
    border-radius: 40px;
}